---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Link from "../components/Link.astro";
import ProjectCard from "../components/ProjectCard.astro";
const age = new Date().getFullYear() - 2003;
const currentJob = {
	job: "ADP",
	link: "https://www.adp.com/",
};
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
		/>
	</head>
	<body
		class='bg-[conic-gradient(at_right,_var(--tw-gradient-stops))] from-zinc-800 to-zinc-900 flex flex-col'
	>
		<Header title={SITE_TITLE} />
		<main class='h-screen text-gray-400 p-4 space-y-4'>
			<h1
				class='text-2xl font-bold bg-gradient-to-r from-rose-400 via-red-500 to-yellow-500 text-transparent bg-clip-text animate-gradient'
			>
				Hi, My name is Marcus :3
			</h1>
			<article class="space-y-4 font-light text-justify leading-relaxed">
				<p class=''>
					I'm a software engineer born in a city with the silly name
					of Porto Alegre in the south region of Brazil. I have {age} years
					and I'm currently working at <Link href={currentJob.link}>
						{currentJob.job}
					</Link>. I'm a self-taught full-stack web developer and my
					specialization lies in everything javascript-related from
					Node rest APIs to React apps.
				</p>
				<p class=''>
					I like TTRPG, working out, and crafting software that makes
					people's lives better. I love building projects and have a
					particular interest in system architecture and performance.
					Currently really enjoying building stuff with <Link
						href='https://www.typescriptlang.org/'
					>
						Typescript
					</Link>, <Link href='https://create.t3.gg/'>T3 stack</Link>,
					and <Link href='https://aws.amazon.com/pt/'>AWS</Link>.
				</p>
				<p class=''>
					I love to talk about myself and the things I like so if you
					are interested professionally with me, you can check my CV,
					or feel free to connect with me through any of my social
					media or check my FAQ.
				</p>
				<p class=''>with that out of the: welcome to my site!</p>
			</article>
			<section class="flex flex-col gap-4">
				<h2 class="text-slate-100 text-xl font-semibold">Things I'm proud of</h2>
				<div class="group flex flex-col gap-3 border border-rose-400 rounded-2xl p-4 bg-zinc-800 hover:bg-zinc-900">
					<h3 class="text-slate-100 font-bold text-lg">this site</h3>
					<p>it's literally this exact site</p>
					<div class="flex flex-row gap-2">
						<div class="border border-orange-400 rounded-lg px-2">Astro</div>
						<div class="border border-blue-500 rounded-lg px-2">Typescript</div>
					</div>
				</div>
				<ProjectCard title="p4p site" tags={ ["html", "css"] }>site for my bf</ProjectCard>
			</section>
		</main>
		<Footer />
		<style>
			.animate-gradient {
				background-size: 300%;
				-webkit-animation: animatedgradient 4s ease infinite alternate;
				-moz-animation: animatedgradient 4s ease infinite alternate;
				animation: animatedgradient 4s ease infinite alternate;
			}

			@keyframes animatedgradient {
				0% {
					background-position: 0% 50%;
				}
				50% {
					background-position: 100% 50%;
				}
				100% {
					background-position: 0% 50%;
				}
			}
		</style>
	</body>
</html>
